body {
  background: #FFF;
  font-size: 14px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header, footer {
  height: 100px;
}

footer {
  background: rgb(245, 239, 221);
  font-size: 70%;
}

.site-logo {
  height: 70px;
  float:left
}

.main-navigation {
  display: block;
  float: right;
  width: 70%;
  padding-top: 20px;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0 16px 0 16px;
  float: right;
  background-color: rgb(137, 189, 117);
  border-radius: 5px;
}

.main-navigation li {
  float: left;
  margin: 0.7em 0.7em;
  position: relative;
  color: #FFF;
}

.footer-navigation {
  display: block;
  float: left;
  margin-left: 15px;
}

.footer-navigation ul {
  list-style: url("/assets/images/footer-list.png");
  float: left;
  margin-top: 10%;
}

.footer-right{
  float: right;
  margin-top: 35px;
}

.sns {
  float: right;
}

.copyright {
  clear: both;
}
